# Environments
.venv/
venv/
ENV/
env/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Node
node_modules/
dist/
dist-ssr
*.local

# Project Specific
ranking_results.txt
output.log
*.db
!search_cache.db

# IDE
.vscode/
.idea/
.DS_Store
